@media only screen and (max-width:767px){
    .medCol{
        width: 98%;
        margin-left: 7px;
        margin-bottom: 50px;
    }
    .medHeading{
        margin-top: 40px !important;
    }
    .heroImageInner{
        margin-left: 2px !important;
        margin-top: 40px !important;
       
    }
    .mediRow{
        display: flex;
        flex-direction: column-reverse;
    }
}
.medCol{
    margin-bottom: 50px;
}
/* @media only screen and (max-width:768px){
    .medCol{
        width: 98%;
        margin-left: 7px;
    }
    .heroImageInner{
        margin-left: 0px !important;
        margin-top: 40px !important;
        width: 100% !important;
       
    }
    .imgCol{
        width: 100% !important;
    }
} */