@media only screen and (max-width:767px){
    .abc{
        display: flex !important;
        flex-direction: column-reverse;
        align-items: center;
    }
    .heroImageInner{
        margin: 0;
    }
    .accordionPara{
        margin: 0px !important;
        margin-top: 20px !important;
    }
    .missionHeading{
        font-size: 40px !important;
    }

}