@media only screen and (max-width:767px){
    /* .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
        width: 94% !important;
    } */
    .ruleHeading{
        font-size: 50px !important;
    }
    .heroImageInner{
        margin-left: 2px;
        margin-top: 50px !important;
        margin-bottom: 20px !important;
    }
    .ruleRow{
        display: flex;
        flex-direction: column-reverse;
    }
}

/* @media only screen and (min-width:767px){
    .ruleCol{
        width: 100% ;
    }   
    .heroImageInner{
            margin-top: 50px !important;
            width: 100% !important;
    }
    .imgCol{
        width: 100% !important;
    }

} */